/* About Info section */
#aboutInfo .infoRight {
	float: right;
	width: 50%;
	min-height: 100%;
}

#aboutInfo .infoRight img {
	width: 70%;
	display: block;
	margin: auto;
	border-radius: 50%;
}

#aboutInfo .infoLeft {
	float: left;
	width: 50%;
	min-height: 100%;
}

/* Testimonial */
#testimonials {
	height: 600px;
	background: url("../images/test-bg.jpg") no-repeat center center/cover;
	padding: 100px 0px 0px 0px;
}

#testimonials h2 {
	color: #fff;
	text-align: center;
	padding: 0px 0px 40px 0px;
}

#testimonials .testimonial {
	padding: 20px;
	margin: 0px 0px 40px 0px;
	border-radius: 5px;
	opacity: 0.9;
}

#testimonials .testimonial img {
	width: 100px;
	float: left;
	margin: 0px 20px 0px 0px;
	border-radius: 50%;
}
